{
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "options": {
        "parser": "json"
      },
      "files": [".lintstagedrc"]
    },
    {
      "options": {
        "parser": "json"
      },
      "files": [".prettierrc"]
    }
  ]
}
